<a href="https://colab.research.google.com/github/vncspelegrini/execiciosPython/blob/main/Diversos_Exerc%C3%ADcios_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 0
while n < 100 or n > 500 :
  try :
    s = input ('Digite N no intervalo [100, 500]: ')
    n = int(s)
  except:
    print ('{} não é um número'.format(s))
    n = 0
  else : 
    if n < 100 or n > 500:
      print ('O valor lido {} está fora do intervalo' .format(n))
    else:
      print ('O valor lido {} está ok.' .format (n))
  finally:
    print ('\n\n')

Digite N no intervalo [100, 500]: 8
O valor lido 8 está fora do intervalo



Digite N no intervalo [100, 500]: 100
O valor lido 100 está ok.

In [ ]:
n = int(input('Digite um número: '))
if n % 2 == 0:
  print('O número digitado é par.')
else:
  print('O número digitado é ímpar')

Digite um número: 9
O número digitado é ímpar

In [ ]:
import random
from random import randint
n = int (input('Digite N: '))
total = 0 
i = 1 
while i <= n:
  x = randint(1, 50)
  print ('Valor {} gerado = {}' .format(i, x))
  total = total + x 
  i += 1

print ('\n Soma dos valores gerados = {}' . format (total))

In [ ]:
print ('Sequência de Fibonacci \n')

n = 0
while n < 2:
  try:
    n = int (input('Digite n(>1 ): '))
    if n < 2:
      print('Digite n >=2')
  except:
    print('O dado digitado deve ser um numero inteiro.')

a = 0
b = 1
print ('0, 1,', end='')

i = 0
while i < n-2:
  c = a + b
  print('{}, '.format(c), end = '')

  a = b
  b = c
  i +=1
print ('\n\nFim do Programa')

In [ ]:
print ('Desafio 01')

nome = input ('Digite seu nome')

print ('Ola!',nome,'prazer em te conhecer!' )

In [ ]:
print ('Desafio 02')

dia = input ('Dia =')
mes = input ('Mês = ')
ano = input ('Ano = ')

print ('Você nasceu no dia', dia, 'de', mes, 'de',ano, '.Correto?')

Desafio 02
Dia =4
Mês = 4
Ano = 4
Você nasceu no dia 4 de 4 de 4 .Correto?

In [ ]:
n1 = 'a'
n2 = 'a'
while n1 or n2 != int:
  try:
    n1 = int(input('Digite um número inteiro: '))
    n2 = int(input('Digite outro número inteiro: '))
    if n1 < n2 :
      print('{} é menor que {}'.format(n1, n2))
    elif n1 > n2:
        print('{} é menor que {}'.format(n2,n1))
    else:
        print('Os números são iguais')
    break
  except:
    print('Você deve digitar um número inteiro !!!')

In [ ]:
n1 = float(input('Digite o primeiro número: '))
n2 = float(input('Digite o segundo número: '))
n3 = float(input('Digite o terceiro número: '))
if n1 < n2 + n3 and n2 < n1 + n3 and n3 < n1 + n2:
  if n1 == n2 and n2 == n3:
    print('Triângulo equilátero')
  elif n1 == n2 or n1 == n3 or n2 == n3:
    print ('Triângulo isósceles')
  else:
    print('Triângulo escaleno')
else:
  print('Não é um triângulo')

Digite o primeiro número: 7
Digite o segundo número: 8
Digite o terceiro número: 3
Triângulo escaleno

In [ ]:
try:
  nome = input('Digite o nome: ')
  peso = float(input('Digite o peso: '))
  cat = ''
  
  if peso < 65 :
    cat = 'Pena'
  elif peso >= 65 and peso < 72:
    cat = 'Leve'
  elif peso >= 72 and peso < 79:
    cat = 'Ligeiro'
  elif peso >= 79 and peso < 86:
    cat = 'Meio-médio'
  elif peso >= 86 and peso < 93:
    cat = 'Médio'
  elif peso >= 93 and peso < 100:
    cat = 'Meio-pesado'
  else:
    cat = 'pesado'
  print('O lutador {} pesa {} e se enquadra na categoria {}.'.format(nome, peso, cat))
except:
  print('Peso deve ser um número e o nome letras')

In [ ]:
valho = float (input('Digite o valor da hora: '))
qtho = int (input('Digite a quantidade de horas: '))
extra = int (input('Digite a quantidade de horas extras: '))

valext = valho * extra * 2
pag = valext + (qtho * valho)

print('Valor a receber R$ {} '.format(pag))

Digite o valor da hora: 5
Digite a quantidade de horas: 2
Digite a quantidade de horas extras: 1
Valor a receber R$ 20.0

In [ ]:
n = 0
while n < 10 :
  n += 1
  print (n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
t = int (input('Digite um número: '))
n = 0
while n < 10 :
  n += 1
  print ('{} x {} = {}'.format (t, n, t*n))

Digite um número: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
n = int (input('Digite a quantidade de números a serem somados: '))
s = float (0)
while n > 0 :
  r = float (input('Digite o valor: '))
  if r > 0:
    s = s + r
    n -= 1
  else:
    n -= 1
print('A soma deu {}'.format(s))

Digite a quantidade de números a serem somados: 7
Digite o valor: -1
Digite o valor: 1
Digite o valor: 1
Digite o valor: 1
Digite o valor: 1
Digite o valor: 1
Digite o valor: 1
A soma deu 6.0

In [ ]:
n = ''
p = int (0)
i = int (0)
while n != 0 :
  n = int(input('Digite um número: '))
  if n < 0 :
    i = i + n
  else:
    p = p + n
print('A soma dos números positivos foi {}'.format(p))
print('A soma dos números negativos foi {}'.format(i))

Digite um número: 1
Digite um número: 4
Digite um número: 4
Digite um número: 4
Digite um número: 0
A soma dos números positivos foi 13
A soma dos números negativos foi 0

In [ ]:
N = int (input('Digite a quantidade de termos da PG: '))
R = int (input('Digite a razão: '))
P = int (input('Digite o primeiro termo da PG: '))
S = 0
print(P)
while N - 1 > 0 :
  P = P * R
  S = S + P
  N -= 1
  print(P)
else:
  print('A soma dos termos é {}'.format(S))

Digite a quantidade de termos da PG: 5
Digite a razão: 3
Digite o primeiro termo da PG: 2
2
6
18
54
162
A soma dos termos é 240

In [ ]:
min = int (input('Digite o 1o. intervalo: '))
max = int (input('Digite o 2o. intervalo: '))
if min > max :
  t = max
  max = min
  min = t
  print('O 1o.intervalo é maior que o 2o. intervalo, os valores foram invertidos !!!')
c = max - min
while c >= 0 :
  if min % 5 == 0 :
    print(min)
    min += 1
    c = c - 1
  else:
    min += 1
    c -= 1

Digite o 1o. intervalo: 10
Digite o 2o. intervalo: 1
O 1o.intervalo é maior que o 2o. intervalo, os valores foram invertidos !!!
5
10

In [ ]:
n = int (input('Digite um número: '))
print('O sucessor de {} é {} e o seu antecessor é {}'.format(n, n + 1, n - 1))

Digite um número: 5
O sucessor de 5 é 6 e o seu antecessor é 4

In [ ]:
n = int (input('Digite um número: '))
print('O número digitado foi {}, o seu dobro é {}, o seu triplo é {} e a sua raiz quadrada é {}. '.format (n, 2*n, 3*n, n**(1/2)))

Digite um número: 9
O número digitado foi 9, o seu dobro é 18, o seu triplo é 27 e a sua raiz quadrada é 3.0.

In [ ]:
n1 = float (input('Digite a primeira nota: '))
n2 = float (input('Digite a segunda nota: '))
m = (n1 + n2)/2
print('A média das notas é {}'.format(m))

Digite a primeira nota: 4
Digite a segunda nota: 4
A média das notas é 4.0

In [ ]:
m = int (input('Digite a metragem: '))
c = m * 100
mm = c * 10
print('{} metro equivale a {} cm e a {} milímetros.'.format(m, c, mm))

Digite a metragem: 1
1 metro equivale a 100 cm e a 1000 milímetros.

In [ ]:
d = float (input('Quantidade de dinheiro: '))
dl = d / 3.27
print('Você pode comprar {:.2f} dolares.'.format(dl))

In [ ]:
n = int (input('Digite um número: '))

while n > 0 :
  r = float (input('Digite o 1o. termo: '))
  t = float (input('Digite o 2o. termo: '))
  if r < t :
    print('{} é menor {}'.format(r, t))
    n -=1
  else:
    print('{} é menor {}'.format(t, r))
    n -= 1

In [ ]:
n = int (input('Digite um número: '))

while n > 0 :
  r = float (input('Digite o 1o. termo: '))
  t = float (input('Digite o 2o. termo: '))
  if r < t :
    if r < 0:
      n -= 1
    else:
      n -= 1
      print('{} é menor que {}.'.format(r, t))
  elif t < r :
    if t < 0 :
      n -= 1
    else:
      print('{} é menor que {}.'.format(t, r))
      n -= 1
  else:
    print('Números iguais.')
    n -= 1

In [ ]:
n = int (1)
comp = 0
maior = int ()
menor = int (9)
cont = int ()
soma = int ()
media = float ()
while n >= 1:
  n = int (input('Digite um número: '))
  cont += 1
  soma = soma + n
  if n <= 0 :
    print('fim')
  elif n > maior :
    maior = n
    if n < menor :
      menor = n
if cont > 0:
  cont -= 1
  media = soma / cont 
  print('Maior número {}, menor número {}, quantidade de valores {}, soma foi de {} e média {}'.format(maior, menor, cont, soma, media))

Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 0
fim
Maior número 5, menor número 3, quantidade de valores 3, soma foi de 12 e média 4.0

In [ ]:
n = int (1)
while n != 0 :
  n = int (input('Digite um número:'))
  if n == 0 :
    print('fim')
  elif n % 2 == 0 and n % 3 == 0:
    print('{} é divisível por 2 e por 3'.format(n))
  elif n % 3 == 0 :
    print('{} é divisível por 3'.format(n))
  elif n % 2 == 0 :
    print('{} é divisível por 2'.format(n))

Digite um número:-9
-9 é divisível por 3
Digite um número:0
fim

In [ ]:
n = (int (input('Digite um número maior que 100: ')))
soma = 0
while n < 100:
  n = (int (input('Digite um número maior que 100: ')))
while n > 0 :
  if n % 2 != 0 :
    n -= 1
  elif n % 2 == 0 :
    print(n)
    soma = soma + n
    n -= 1
print(soma)
print('fim')

In [ ]:
# Exercício 21 não fiz

In [ ]:
l = float(input('Digite a largura: '))
h = float(input('Digite a altura: '))
a = float(l * h)
t = float (a / 2)
print ('A área da parede é {} m2 e é necessário {} litros de tinta.'.format(a, t))

Digite a largura: 1
Digite a altura: 1
A área da parede é 1.0 m2 e é necessário 0.5 litros de tinta.

In [ ]:
p = float(input('Digite o preço R$ '))
d = float(p - (p * 5 / 100))
print('Preço com desconto é R$ {}'.format(d))

Digite o preço R$ 546
Preço com desconto é R$ 518.7

In [ ]:
s = float (input('Digite o salário R$ '))
a = float (s + (s * 15 / 100))
print('Novo salário R$ {}'.format(a))

Digite o salário R$ 100
Novo salário R$ 115.0

In [ ]:
a = 'Vinicius'
len (a)
a [-2]

In [ ]:
from math import floor

n = float(input('Digite um número: '))


print('O número é {:.0f}'.format(n))

Digite um número: 6.127
O número é 6

In [ ]:
from math import  hypot
co = int(input('Digite o cateto oposto:'))
ca = int(input('Digite o cateto adjacente'))

h = hypot(co, ca)
print(h)

Digite o cateto oposto:4
Digite o cateto adjacente7
8.06225774829855

In [ ]:
n = int(input('Digite o primeiro termo: '))
r = int(input('Digite a razão: '))
qt = int(input('Digite quantidade de termos: '))

l=[]
cont = 0
while (cont < qt):
  l.append(n)
  n = n + r
  cont += 1
print('PA resultante: ', l)

In [ ]:
import math 

n = int(input('Digite um angulo: '))
seno = math.sin(math.radians(n))
cos = math.cos(math.radians(n))
tan = math.tan(math.radians(n))

print('O seno de {} é {:.2f} o cosseno é {:.2f} e a tangente é {:.2f}'.format(n, seno, cos, tan))

Digite um angulo: 30
O seno de 30 é 0.50 o cosseno é 0.87 e a tangente é 0.58

In [ ]:
import random

nome = ['João', 'Maria', 'Jose', 'Pedro']

print(random.choice(nome))

Maria

In [ ]:
import random

nome = ['João', 'Maria', 'Jose', 'Pedro', 'Matheus', 'Paulo']

while len(nome) > 0:
  esc = random.choice(nome)
  print(esc)
  nome.remove(esc)

Maria
João
Paulo
Matheus
Pedro
Jose

In [ ]:
l = []
n = int(input('Digite um número inteiro: '))
while n != 0:
  if n == 0:
    print('Fim do programa')
  else:
    l.append(n)
    n = int(input('Digite um número inteiro:'))
print('A lista digitada foi {} e contém {} itens.'.format(l, len(l)))

Digite um número inteiro: 6
Digite um número inteiro:7
Digite um número inteiro:2
Digite um número inteiro:0
A lista digitada foi [6, 7, 2] e contém 3 itens.

In [ ]:
v =[2, 4, 6, 8]
print(id(v))
l = [3, 5, 7]
print(id(l))
v = l
print(id(v))
print (v)

140377686176944
140377686011808
140377686011808
[3, 5, 7]

In [ ]:
nome = input('Digite seu nome: ')
print(nome.upper())
print(nome.lower())
jun = nome.split()
print(jun)
n =''.join(jun)
print(len(n))
print(len(jun[0]))

Digite seu nome: ana maria
ANA MARIA
ana maria
['ana', 'maria']
8
3

In [ ]:
n = input('Digite um número entre 0 e 9999: ')
print('Unidade = {} \nDezena = {} \nCentena = {} \nMilhar = {}'.format(n[3], n[2], n[1], n[0]))

Digite um número entre 0 e 9999: 1234
Unidade = 4
Dezena = 3
Centena = 2
Milhar = 1

In [ ]:
n = int(input('Digite um número entre 0 e 9999: '))
u = n // 1 % 10
d = n // 10 % 10
c = n // 100 % 10
m = n // 1000 % 10
print('Unidade = {} \nDezena = {} \nCentena = {} \nMilhar = {}'.format(u, d, c, m))

Digite um número entre 0 e 9999: 789
Unidade = 9
Dezena = 8
Centena = 7
Milhar = 0

In [ ]:
nome = input('Digite o nome da sua cidade: ')
n = nome.upper
if 'SANTO' == n:
  print('ok')
else:
  print('Não tem "SANTO" no nome digitado.')

Digite o nome da sua cidade: Santo amaro

TypeError: ignored

In [ ]:
frase = input('Digite uma frase: ')

print(frase.count('A'))

Digite uma frase: Ajhho Agfjfj
2
0

In [ ]:
nome = input('Digite o seu nome: ')
l = nome.split()
print('Primeiro: {} \nUltimo: {}'.format(l[0], l[-1]))

In [ ]:
import random

n = random.randint(0, 5)

m = int(input('Tente adivinhar o número que eu escolhi: '))
if n == m:
  print('Acertou Mizeravi !!!')
else:
  print('Errou!!!!')
  print('Eu escolhi o número {}'.format(n))

Tente adivinhar o número que eu escolhi: 3
Acertou Mizeravi !!!

In [ ]:
v = float(input('Qual a velocidade do carro: '))
if v > 80 :
  m = (v - 80) * 7
  print('Valor da multa R$ {}'.format(m))

Qual a velocidade do carro: 81
Valor da multa R$ 7.0

In [ ]:
n = int(input('Digite um número: '))
if n % 2 == 0:
  print('O número digitado é par ')
else:
  print('O número digitado é ímpar')

Digite um número: 4
O número digitado é par

In [ ]:
k = int(input('Quantos Km você irá viajar :'))
if k <= 200 :
  print('O valor da sua passagem será R$ {}'.format(k * 0.50))
else:
  print('O valor da sua passagem será R$ {}'.format(k * 0.45))

Quantos Km você irá viajar :200
O valor da sua passagem será R$ 100.0

In [ ]:
n1 = int(input('Digite o primeiro número: '))
n2 = int(input('Digite o segundo número: '))
n3 = int(input('Digite o terceiro número: '))
maior = n1
if n2 > n1 and n2 > n3:
  maior = n2
if n3 > n1 and n3 > n2:
  maior = n3
print(maior)

Digite o primeiro número: 4
Digite o segundo número: 2
Digite o terceiro número: 3
4

In [ ]:
print('\33[7;32;45m Vinicius')

 Vinicius

In [ ]:
valor = float(input('Digite o valor da casa R$ '))
sal = float(input('Digite o seu salário R$ '))
tem = int(input('Em quantos anos você deseja pagar ? ')) * 12

prest = valor / tem
psal = sal * 30 / 100 

if psal < prest:
  print('Não é possível fazer o financiamento')
else:
  print('Seu financiamento foi aprovado')
  print('O valor mensal a ser pago será de R$ {} pagos em {} meses'.format(prest, tem))

Digite o valor da casa R$ 10000
Digite o seu salário R$ 1000
Em quantos anos você deseja pagar ? 1
Não é possível fazer o financiamento

In [ ]:
a = int(input('Digite um número: '))
b = int(input('Digite outro número: '))
if a > b :
  print('O primeiro valor é maior')
elif b > a:
  print('O segundo valor é maior')
else:
  print('Os valores são iguais')

Digite um número: 3
Digite outro número: 3
Os valores são iguais

In [ ]:
import random


com = random.randint(1, 3)

print('Faça a sua escolha: \n1 - Pedra \n2 - Papel\n3 - Tesoura')

eu = int(input('Escolha uma opção: '))

if com == eu :
  if eu == 1:
    print('Eu escolhi Pedra e você Pedra')
    print('Empate')
  elif eu == 2:
    print('Eu escolhi Papel e você Papel')
    print('Empate')
  else:
    print('Eu escolhi Tesoura e você Tesoura')
    print('Empate')
elif com == 1:
  if eu == 2:
    print('Eu escolhi Pedra e você Papel')
    print('Você ganhou')    
  else:
    print('Eu escolhi Pedra e você Tesoura')
    print('Eu ganhei')
elif com == 2:
  if eu == 3:
     print('Eu escolhi Papel e você Tesoura')
     print('Você ganhou')
  else:
    print('Eu escolhi Papel e você Pedra')
    print('Eu ganhei')
else:
  if eu == 1:
    print('Eu escolhi Tesoura e você Pedra')
    print('Você ganhou')
  else:
    print('Eu escolhi Tesoura e você papel')
    print('Eu ganhei')

Faça a sua escolha:
1 - Pedra
2 - Papel
3 - Tesoura
Escolha uma opção: 1
Eu escolhi Pedra e você Pedra
Empate

In [ ]:
from time import sleep

for c in range(10, -1, -1):
  sleep(2)
  print(c)
print('kboom')

10
9
8
7
6
5
4
3
2
1
0
kboom

In [ ]:
for c in range (0,51,2):
  print(c)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
s = 0
for c in range (0, 501):
  if c % 2 == 1:
    print(c)
    if c % 3 == 0:
      print(c)
      s = s + c
print(s)

In [ ]:
n = int(input('Qual tabuada você quer calcular? '))
for c in range(0, 11):
  r = n * c
  print('{} x {} = {}'.format(n, c, r))

In [ ]:
s = 0

for c in range(0,6):
  n = int(input('Digite um nḿero: '))
  if n % 2 == 0:
    s = s + n
print('A soma dos números foi: {}'.format(s))

In [ ]:
pt = int(input('Digite o primeiro termo : '))
rz = int(input('Digite a razão :'))
for c in range(0, 10):
  print(pt)
  pt = pt + rz

In [ ]:
n = int(input('Digite um número: '))
if n == 2 or n == 3 or n == 5 or n == 5 or n == 7:
  print(n)
else:
  if n % 2 != 0:
    if n % 3 != 0:
      if n % 5 != 0:
        if n % 7 != 0:
          print(n)

Digite um número: 11
11

In [ ]:
n = int(input('Digite um número: '))
if n == 2 or n == 3 or n == 5 or n == 7:
  print('{} é divisível por ')
  if n % c == 0:
    print('{} é divisível por {}'.format(n, c))
    print('Não é primo')

In [ ]:
f = str(input('Digite uma frase: ')).strip().lower().replace(' ','')
i = f[::-1]
if f == i :
  print('A frase digitada é um palíndromo\n')
else:
  print('A frase digitada não é um palíndromo\n')
print(f,'\n')
print(i)

Digite uma frase: apos a sopa
A frase digitada é um palíndromo

aposasopa

aposasopa

In [ ]:
a =(1,)

print(type(a[0]))

<class 'int'>

In [ ]:
t(range(10))

print(t)

In [ ]:
t = list(range(10))
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = ((1, 2), (3, 4), (5, 6), (7, 8))
for (x, y) in a:
  print(y)

2
4
6
8

In [ ]:
l = []
x = int(input('Digite um valor: '))
while x != 0:
  p = 0
  while p < len[l] and l[p] < x:
    p += 1;
  l.insert(p, x)
  x = int(input('Digite um valor: '))
print('Lista gerada', l)

In [ ]:
L = list(range(2, 18,2))
print(L)

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
x = []
cont = 10
while cont > 0:
  a = input('Digite algo :')
  x.append(a)
  cont -= 1
print(x)
x.reverse()
print(x)

Digite algo :6
Digite algo :lica
Digite algo :tuca
Digite algo :5
Digite algo :maco
Digite algo :gao
Digite algo :6
Digite algo :ppp
Digite algo :teto
Digite algo :ttt
['6', 'lica', 'tuca', '5', 'maco', 'gao', '6', 'ppp', 'teto', 'ttt']
['ttt', 'teto', 'ppp', '6', 'gao', 'maco', '5', 'tuca', 'lica', '6']

In [ ]:
s = input('Digite :').upper()
while s not in 'MF':
  s = input('Digite o sexo [M/F] : ').upper()
  print(s)

Digite :mf

In [ ]:
from random import randint

com = randint(0, 10)
eu = int(input('Digite um nḿero entre 0 e 10: '))
cont = 0

while com != eu:
  print('Errou você escolheu {} e eu escolhi {}'.format(eu, com))
  cont += 1
  com = randint(0,10)
  eu = int(input('Digite um número entre 0 e 10: '))
print('Acertou, você precisou de {} tentativas para ganhar'.format(cont))

Digite um nḿero entre 0 e 10: 6
Errou você escolheu 6 e eu escolhi 10
Digite um número entre 0 e 10: 4
Acertou, você precisou de 1 tentativas para ganhar

In [ ]:
l = 4
e = 4
while l == 4:
  if e == 1:
    print('\nA soma é :{}'.format(a+b))
    e = 4
  elif e == 2:
    print('\nA multiplicação deu: {}'.format(a*b))
    e = 4
  elif e == 3:
    if a < b:
      print('\n{} é maior do que {}'.format(b, a))
    else:
      print('\n{} é maior do que {}'.format(a,b))
    e = 4
  elif e == 4:
    a = int(input('\nDigite um valor: '))
    b = int(input('\nDigite outro valor: '))
    print('\n[1] Somar: \n[2] Multiplicar: \n[3] Maior: \n[4] Novos Números: \n[5] Sair do Programa: ')
    e = int(input('\nEscolha uma opção: '))
  elif e == 5:
    print('Fim do Programa')
    l = e
  else:
      print('Opção inválida')

In [ ]:
n = int(input('Digite um numero: '))
f = 1
while n > 0:
  f = n * f
  n -= 1
print('O fatoral é {}'.format(f))

Digite um numero: 6
O fatoral é 720

In [ ]:
pt = int(input('Digite o primeiro termo da PA: '))
rz = int(input('Digite a razão: '))
nt = 10
pa = 0
PA = []

while nt > 0:
  pa = pa + rz
  PA.append(pa)
  nt -= 1
print(PA)

In [ ]:
pt = int(input('Digite o primeiro termo da PA: '))
rz = int(input('Digite a razão: '))
nt = 10
pa = 0
PA = []

while nt > 0:
  pa = pa + rz
  PA.append(pa)
  nt -= 1
  if nt == 0:
    print(PA)
    nt = int(input('Deseja exibir mais termos? : '))
print('Fim')

Digite o primeiro termo da PA: 8
Digite a razão: 8
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
Deseja exibir mais termos? : 0
Fim

In [ ]:
n = int(input('Digite a quantidade de termos: '))
t1 = 0
t2 = 1
sq = 0
print(t1,end=', ')
print(t2,end=', ')
while n-2 > 0 :
  sq = t1 + t2
  print(sq,end=' ')
  t1 = t2
  t2 = sq  
  n -= 1

Digite a quantidade de termos: 12
0, 1, 1 2 3 5 8 13 21 34 55 89

In [ ]:
n = 0
cont = 0
s = 0
while n != 999:
  n = int(input('Digite um número: '))
  if n == 999:
    print('Fim')
  else:
    s = s + n
    cont += 1
print('A quantidade de números digitados foi {} e sua soma deu {}'.format(cont, s))

In [ ]:
p = 's'
cont = 0
s = 0
n = 0
maior = 0
menor = 0

while p == 's':
  n = int(input('Digite um número: '))
  if maior < n:
    maior = n
    if menor == 0:
      menor = n
    elif menor > n:
      menor = n
  if p == 'n':
    print('fim')
  else:
    s = s + n
    cont += 1
    p = input('Quer continuar ? (s/n): ').lower().strip()
print('A média foi {} e o maior número foi {} e o menor {}'.format((s/cont), maior, menor))

Digite um número: 2
Quer continuar ? (s/n): s
Digite um número: 4
Quer continuar ? (s/n): s
Digite um número: 6
Quer continuar ? (s/n): n
A média foi 4.0 e o maior número foi 6 e o menor 2

In [ ]:
n = 0
s = 0
while True:
  if n == 999:
    break
  else:
    s += n
    n = int(input('Digite um valor (999 para parar)'))
print(f'A soma deu {s}')

In [ ]:
while True:
  n = int(input('Quer ver a tabuada de qual valor ?'))
  cont = 1
  if n >= 0:
    while cont <= 10:
      print(f'{n} x {cont} = {n * cont}')
      cont += 1
  else:
    print('Programa Tabuada encerrado')
    break

In [ ]:
from random import randint
print(14 * '=-')
print('VAMOS JOGAR PAR OU ÍMPAR ?')
print(14 * '=-')
cont = 0
while True:
  eu = int(input('Diga um valor: '))
  com = randint(0, 10)
  res = (eu + com) % 2
  PI = input('PAR OU ÍMPAR? [P/I]').upper().strip()
  if PI == 'P':
    if res == 0:
      cont = cont + 1
      print(14 * '-')
      print(f'Você jogou {eu} e o computador {com}. Total de {eu + com}, resultado é PAR.')
      print(14 * '-')
      print('Você VENCEU !')
      print('Vamos jogar novamente ...')
      print(14 * '=-')
    else:
      print(14 * '-')
      print(f'Você jogou {eu} e o computador {com}. Total de {eu + com}, resultado é ÍMPAR.')
      print(14 * '-')
      break
  if PI == 'I':
    if res == 0:
      print(14 * '-')
      print(f'Você jogou {eu} e o computador {com}. Total de {eu + com}, resultado é PAR.')
      print(14 * '-')
      break
    else:
      cont = cont + 1
      print(14 * '-')
      print(f'Você jogou {eu} e o computador {com}. Total de {eu + com}, resultado é ÍMPAR.')
      print(14 * '-')
      print('Você VENCEU !')
      print('Vamos jogar novamente ...')
      print(14 * '=-')
print('Você Perdeu !')
print(14 * '=-')
print(f'GAME OVER ! Você venceu {cont} vezes.')

In [ ]:
contI = 0
contH = 0
contM = 0
while True:
  i = int(input('Digite a idade: '))
  s = input('Digite o sexo: [m/h]').lower().strip()
  if i > 18:
    contI += 1
  if s == 'h':
    contH += 1
  if s == 'h' and i < 20:
    contM += 1
  p = input('Deseja continuar? [s/n]')
  if p == 'n':
    break
print(f'Foram cadastradas {contI} pessoas com mais de 18 anos.')
print(f'Foram cadastrados {contH} homens.')
print(f'Foram cadastradas {contM} mulheres com menos de 20 anos.')

In [ ]:
print(30 * '-')
print('      LOJA SUPER BARATÃO')
print(30 * '-')
total = 0
prodb = 0
nome = ''
cont = 0
while True:
  p = input('Nome do produto: ')
  v = float(input('Valor R$ '))
  total += v
  if prodb == 0 :
    prodb = v
    nome = p
  elif v < prodb:
    prodb = v
    nome = p
  elif v > 1000:
    cont += 1

  perg = input('Quer continuar ? [s/n] ')
  if perg == 'n':
    break
print(f'O total da compra foi R$ {total}')
print(f'Temos {cont} produto custando mais de R$ 1000.00')
print(f'O produto mais barato foi {nome} que custa R$ {prodb}.')

In [ ]:
print(30 * '=')
print('          Banco CEV')
print(30 * '=')
n = int(input('Que valor você quer sacar? R$ '))
c = n // 50
v = (n % 50) // 20
d = ((n % 50) % 20) // 10
u = (((n % 50) % 20) % 10) // 1
print(f'Total de {c} cédulas de R$ 50.00')
print(f'Total de {v} cédulas de R$ 20.00')
print(f'Total de {d} cédulas de R$ 10.00')
print(f'Total de {u} cédulas de R$ 1.00')

In [ ]:
def LerInteiro():
  n = int(input('Digite um número inteiro: '))
  return n

x = LerInteiro()
print('Valor lido na função = {0}'.format(x))

In [ ]:
def Soma (*valores):
  r = 0
  for i in valores:
    r = r + i
    return i

Soma(9, 3, 3)

9

In [ ]:
def ExibeFormatado(a, b, c):
  print('1o. Valor {}'.format(a))
  print('2o. Valor {}'.format(b))
  print('3o. Valor {}'.format(c))

L = [1, 2, 3]
ExibeFormatado(*L)

In [ ]:
matriz = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matriz)
for i in matriz:
  for x in i:
    print(i)
  
  print(i)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[4, 5, 6]
[4, 5, 6]
[4, 5, 6]
[7, 8, 9]
[7, 8, 9]
[7, 8, 9]
[7, 8, 9]

In [ ]:
n = ('Zero', 'Um', 'Dois', 'Três', 'Quatro', 
'Cinco', 'Seis', 'Sete', 'Oito', 'Nove', 'Dez', 
'Onze', 'Doze', 'Treze', 'Catorze', 'Quinze', 
'Dezesseis', 'Dezesete', 'Deoito', 'Dezenove', 'Vinte')
n1 = int(input('Digite um número entre 0 e 20: '))
while True:
  if n1 > 20 or n1 < 0:
    n1 = int(input('Tente novamente. Digite um número entre 0 e 20: '))
  else:
    print(n[n1])
    break

Digite um número entre 0 e 20: 6
Seis

In [ ]:
times = ('Santos', 'Corinthians', 'Palmeiras', 'São Paulo',
         'Flamengo', 'Botafogo', 'Vasco', 'Fluminense', 
         'Atlético Mineiro', 'Cruzeiro', 'Portuguesa',
         'Bragantino', 'Bahia', 'Vitória', 'Guarani',
         'Coritiba', 'Chapecoense', 'Avaí', 'Ponte Preta')
print(f'Os cinco primeiros são {times[:5]}')
print(times[-4:])
print(sorted(times))
print(times.index('Chapecoense')+1)

Os cinco primeiros são ('Santos', 'Corinthians', 'Palmeiras', 'São Paulo', 'Flamengo')
('Coritiba', 'Chapecoense', 'Avaí', 'Ponte Preta')
['Atlético Mineiro', 'Avaí', 'Bahia', 'Botafogo', 'Bragantino', 'Chapecoense', 'Corinthians', 'Coritiba', 'Cruzeiro', 'Flamengo', 'Fluminense', 'Guarani', 'Palmeiras', 'Ponte Preta', 'Portuguesa', 'Santos', 'São Paulo', 'Vasco', 'Vitória']
17

In [ ]:
from random import randint
numeros = (randint(1, 10), randint(1, 10), randint(1, 10), randint(1,10), randint(1, 10))
print(f'Os números sorteados foram: {numeros}')
print(f'O maior número foi : {max(numeros)}')
print(f'O menor número foi : {min(numeros)}')

Os números sorteados foram: (7, 4, 5, 1, 8)
O maior número foi : 8
O menor número foi : 1

In [ ]:
valores = (int(input('Digite um valor: ')), int(input('Digite outro valor: ')), 
           int(input('Digite mais um valor: ')), int(input('Digite o último valor: ')))
print(f'Você digitou os valores : {valores}')
print(f'O valor 9 apareceu {valores.count(9)} vezes.')
if 3 in valores:
  print(f'O valor 3 apareceu na {valores.index(3)+1}a. posição.')
else:
  print('O valor 3 não apareceu em nenhuma posição.')
print('Os valores pares digitados foram: ', end = ' ')
for v in valores:
  if v % 2 == 0:
    print(v, end=' ')

Digite um valor: 9
Digite outro valor: 3
Digite mais um valor: 8
Digite o último valor: 9
Você digitou os valores : (9, 3, 8, 9)
O valor 9 apareceu 2 vezes.
O valor 3 apareceu na 2a. posição.
Os valores pares digitados foram:  8

In [ ]:
lista = ('Lápis', 1.3, 'Borracha', 2, 'Apontador', 3.43,
         'Papel', .30, 'Estojo', 5.40, 'Mochila', 47.90,
         'Livro', 30, 'Compasso', 7.3, 'Canetas', 3)
print('-' * 40)
print(f'{"Listagem de Preço":^40}')
print('-' * 40)
for pos in range(0, len(lista)):
  if pos % 2 == 0:
    print(f'{lista[pos]:.<30}', end='')
  else:
    print(f'R${lista[pos]:>7.2f}')

----------------------------------------
           Listagem de Preço
----------------------------------------
Lápis.........................R$   1.30
Borracha......................R$   2.00
Apontador.....................R$   3.43
Papel.........................R$   0.30
Estojo........................R$   5.40
Mochila.......................R$  47.90
Livro.........................R$  30.00
Compasso......................R$   7.30
Canetas.......................R$   3.00

In [ ]:
lista = ('casa', 'papel', 'bolacha', 'brinquedo',
       'bola', 'colher', 'vidro', 'celular')
for p in lista:
  print(f'\nNa palavra {p} temos ', end='')
  for letra in p:
    if letra in 'aeiou':
      print(letra, end=' ')

Na palavra casa temos a a
Na palavra papel temos a e
Na palavra bolacha temos o a a
Na palavra brinquedo temos i u e o
Na palavra bola temos o a
Na palavra colher temos o e
Na palavra vidro temos i o
Na palavra celular temos e u a

In [ ]:
lista = list()
m = 0
n = 0

for c in range(0, 5):
  lista.append(int(input(f'Digite um valor para a posição {c}: ')))
print('=-' * 30)
print(f'Você digitou os valores {lista}')


print(f'O maior valor digitado foi {max(lista)} nas posições {lista.index(max(lista))} ...', end=' ')
print(f'{lista.index(max(lista), 0, -1)} ... ')
print(f'O menor valor digitado foi {min(lista)} nas posições {lista.index(min(lista))} ...')

print(lista.count(lista.index(max(lista))))
print

Digite um valor para a posição 0: 8
Digite um valor para a posição 1: 9
Digite um valor para a posição 2: 9
Digite um valor para a posição 3: 5
Digite um valor para a posição 4: 4
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Você digitou os valores [8, 9, 9, 5, 4]
O maior valor digitado foi 9 nas posições 1 ... 1 ...
O menor valor digitado foi 4 nas posições 4 ...
0

In [ ]:
lista = list()
resp = 's'
while True:
  if resp in 'sS':
    lista.append(int(input('Digite um valor: ')))
    resp = input('Deseja continuar [S/N]: ')
  elif resp in 'nN':
    break    
  else:
    resp = input('Digite S ou N: ')
print(f'Você digitou {len(lista)} elementos.')
lista.sort(reverse = True)
print(f'Os valores em ordem decrescente sao {lista}')
if 5 in lista:
  print('O valor 5 faz parte da lista!')
else:
  print('O valor 5 não faz parte da lista!')

Digite um valor: 8
Deseja continuar [S/N]: s
Digite um valor: 7
Deseja continuar [S/N]: s
Digite um valor: 1
Deseja continuar [S/N]: k
Digite S ou N: s
Digite um valor: 9
Deseja continuar [S/N]: n
Você digitou 4 elementos.
Os valores em ordem decrescente sao [9, 8, 7, 1]
O valor 5 não faz parte da lista!

In [ ]:
lista = list()
listap = list()
listai = list()
while True:
  lista.append(int(input('Digite um valor: ')))
  resp = input('Deseja continuar ?: ')
  if resp in 'nN':
    break
for c in range(0, len(lista)):
  if c % 2 == 0:
    listap.append(c)
  else:
    listai.append(c)
print(f'A lista completa é {lista}')
print(f'A lista de pares é {listap}')
print(f'A lista de ímpares é {listai}')

In [ ]:
expr = input('Digite uma expressão: ')
lista = list()
p1 = list()
p2 = list()

for c in expr:
  if c == ')':
    p1.append(c)
  elif c == '(':
    p2.append(c)
if len(p1) == len(p2):
  print('Expressão válida')
else: 
  print('Expressão inválida')
print(p1)
print(p2)

Digite uma expressão: (9-8)
Expressão válida
[')']
['(']

In [ ]:
lista = list()
lst = list()
maior = float()
menor = float()
while True:
  lst.append(input('Nome: '))
  lst.append(float(input('Peso: ')))
  if len(lista) == 0:
    maior = menor = lst[1]
  else:
    if lst[1] > maior:
      maior = lst[1]
    if lst[1] < menor:
      menor = lst[1]
  resp = input('Deseja continuar ? [S/N]: ')
  lista.append(lst[:])
  lst.clear()
  if resp in 'Nn':
    break

print(f'Ao todo, você cadastrou {len(lista)} pessoas.')
print(f'O maior peso foi {maior}',end=' ')
for p in lista:
  if p[1] == maior:
    print(p[0],end=' ')
print(' ')
print(f'O menor peso foi {menor}', end=' ')
for p in lista:
  if p[1] == menor:
    print(p[0], end=' ')

In [ ]:
lista = [[],[]]
for c in range(0, 7):
  num = int(input(f'Digite o {c + 1}o. valor: '))
  if num % 2 == 0:
    lista[0].append(num)
  else:
    lista[1].append(num)
lista[1].sort()
lista[0].sort()
print(f'Os valores pares digitados foram: {lista[0]}')
print(f'Os valores ímpares digitados foram: {lista[1]}')

In [ ]:
lista = [[], [], []]
c = 0
for b in lista:
  for d in range(0, 3):
    n = int(input(f'Digite um valor para[{c, d}]'))
    lista[c].append(n)
  c += 1
print(f'[ {lista[0][0]} ] [ {lista[0][1]} ] [ {lista[0][2]} ]')
print(f'[ {lista[1][0]} ] [ {lista[1][1]} ] [ {lista[1][2]} ]')
print(f'[ {lista[2][0]} ] [ {lista[2][1]} ] [ {lista[2][2]} ]')

Digite um valor para[(0, 0)]1
Digite um valor para[(0, 1)]2
Digite um valor para[(0, 2)]3
Digite um valor para[(1, 0)]4
Digite um valor para[(1, 1)]5
Digite um valor para[(1, 2)]6
Digite um valor para[(2, 0)]7
Digite um valor para[(2, 1)]8
Digite um valor para[(2, 2)]9
[ 1 ] [ 2 ] [ 3 ]
[ 4 ] [ 5 ] [ 6 ]
[ 7 ] [ 8 ] [ 9 ]

In [ ]:
matriz = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
soma = 0
col = 0
for l in range(0, 3):
  for c in range(0, 3):
    matriz[l][c] = int(input(f'Digite um valor para {l, c}: '))
print()
for l in range(0, 3):
  for c in range(0, 3):
    print(f'[{matriz[l][c]:^5}]', end=' ')
  print()
print()
for l in range(0, 3):
  for c in range(0, 3):
    if matriz[l][c] % 2 == 0:
      soma = soma + matriz[l][c]
      
print(f'A soma dos valores pares é {soma}')
for l in range(0, 3):
  col += matriz[l][2]

print(f'A soma dos valores da terceira coluna é {col}')
print(f'O maior valor da segunda linha é {max(matriz[1])}')

Digite um valor para (0, 0): 1
Digite um valor para (0, 1): 2
Digite um valor para (0, 2): 3
Digite um valor para (1, 0): 4
Digite um valor para (1, 1): 5
Digite um valor para (1, 2): 6
Digite um valor para (2, 0): 7
Digite um valor para (2, 1): 8
Digite um valor para (2, 2): 9

[  1  ] [  2  ] [  3  ]
[  4  ] [  5  ] [  6  ]
[  7  ] [  8  ] [  9  ]

A soma dos valores pares é 20
A soma dos valores da terceira coluna é 18
O maior valor da segunda linha é 6

In [ ]:
from random import randint
from time import sleep
jogos = int()
matriz = list()
jogo = list()
sort = int()
print(30 * '-')
print('Jogo Mega Sena')
print(30 * '-')
jogos = int(input('Quantos jogos você quer que eu sorteie? :'))
for c in range(0, jogos):
  for n in range(0, 6):
    sort = randint(0, 60)
    if sort not in jogo:
      jogo.append(sort)
  matriz.append(jogo[:])
  jogo.clear()
for j in range(0, len(matriz)):
  print(f'Jogo {j + 1}: {matriz[j]} ')
  sleep(2)

------------------------------
Jogo Mega Sena
------------------------------
Quantos jogos você quer que eu sorteie? :3
Jogo 1: [7, 46, 57, 43, 59, 26]
Jogo 2: [43, 3, 11, 31, 10, 24]
Jogo 3: [40, 53, 31, 58, 60, 9]

In [ ]:
arq = list()
nota = list()
lista = list()
while True:
  nome = (input('Nome: '))
  lista.append(nome)
  for n in range(0, 2):
    nota.append(int(input(f'Nota {n + 1}: ')))
  lista.append(nota[:])
  arq.append(lista[:])  
  lista.clear()
  nota.clear()
  resp = input(f'Deseja sair [S/N]: ')
  if resp in 'sS':
    break
print()
print("No", ' ' * 5, "Nome",' ' * 10,  "Média")
for p in range(0, len(arq)):
  print(p,' ' * 6, arq[p][0], ' ' * 15, sum(arq[p][1])/2)
while True:
  resp = (int(input('Deseja mostrar nota de qual aluno? (999 interrompe): ')))
  if resp == 999:
    break
  else:
    print(f'Notas de {arq[resp][0]} são {arq[resp][1]}')

Nome: nnnn
Nota 1: 9
Nota 2: 9
Deseja sair [S/N]: n
Nome: oooo
Nota 1: 9
Nota 2: 8
Deseja sair [S/N]: s

No       Nome            Média
0        nnnn                 9.0
1        oooo                 8.5
Deseja mostrar nota de qual aluno? (999 interrompe): 999

In [ ]:
dados = dict()
dados['nome'] = input('Nome: ')
dados['media'] = float(input(f'Digite a média de {dados["nome"]} é : '))

print('Nome é igual a',dados['nome'])
print('A média é igual a', dados['media'])
if dados['media'] < 7:
  print('Situação é igual a reprovado')
else:
  print('Situação é igual a aprovado')

Nome: Veve
Digite a média de Veve é : 10
Nome é igual a Veve
A média é igual a 10.0
Situação é igual a aprovado
{'nome': 'Veve', 'media': 10.0}

In [ ]:
from random import randint
from time import sleep
from operator import itemgetter
jogo = dict()
for j in range(1, 5):
  jogo[f'Jogador {j}'] = randint(1,6)
for j, r in jogo.items():
  print(f'O {j} tirou {r} ')
  sleep(2)
rank = sorted(jogo.items(), key=itemgetter(1), reverse=True)
print('O ranking dos jogadores:')

for i, v in enumerate(rank):
  print(f'O {i+1}o. lugar foi o {v[0]} com {v[1]} pontos.')
  sleep(1)

print(jogo)

O Jogador 1 tirou 6
O Jogador 2 tirou 6
O Jogador 3 tirou 6
O Jogador 4 tirou 3
O ranking dos jogadores:
O 1o. lugar foi o Jogador 1 com 6 pontos.
O 2o. lugar foi o Jogador 2 com 6 pontos.
O 3o. lugar foi o Jogador 3 com 6 pontos.
O 4o. lugar foi o Jogador 4 com 3 pontos.
{'Jogador 1': 6, 'Jogador 2': 6, 'Jogador 3': 6, 'Jogador 4': 3}

In [ ]:
import datetime 
cad = dict()
cad['nome'] = str(input('Nome: '))
ano = datetime.datetime.today().year
cad['idade'] = ano - int(input('Ano de nascimento: '))
cad['ctps'] = int(input('Carteira de trabalho (0 não tem): '))
if cad['ctps'] != 0:
  cad['contratação'] = int(input('Ano de contratação: ')) 
  cad['salário'] = float(input('Salário : R$ '))
  ap = 35 -(ano - cad['contratação'])
print()
print(cad)
print()
print(f'Nome tem o valor: {cad["nome"]}')
print(f'Idade tem o valor: {cad["idade"]}')
print(f'Carteira de trabalho tem o valor: {cad["ctps"]}')
if cad['ctps'] != 0:
  print(f'Contratação tem o valor: {cad["contratação"]}')
  print(f'Salário tem o valor: {cad["salário"]}')
  print(f'Aposentadoria tem o valor: {cad["idade"] + ap}')

Nome: vi
Ano de nascimento: 1977
Carteira de trabalho (0 não tem): 1234
Ano de contratação: 1990
Salário : R$ 20000

{'nome': 'vi', 'idade': 45, 'ctps': 1234, 'contratação': 1990, 'salário': 20000.0}

Nome tem o valor: vi
Idade tem o valor: 45
Carteira de trabalho tem o valor: 1234
Contratação tem o valor: 1990
Salário tem o valor: 20000.0
Aposentadoria tem o valor: 48

In [ ]:
cad = dict()
gol = list()
cad['nome'] = input('Nome do jogador: ')
part = int(input(f'Quantas partidas {cad["nome"]} jogou? '))
for g in range(0, part):
  gp = int(input(f'Quantos gols na partida {g + 1}: '))
  gol.append(gp)
cad['gols'] = gol
cad['total'] = sum(gol)
print('=-' * 20)
print(cad)
print('=-' * 20)
for c, v in cad.items():
  print(f'O campo {c} tem o valor {v}')
print('=-' * 20)
print(f'O jogador {cad["nome"]} jogou {part} partidas.')
for p, g in enumerate(cad['gols']) :
  print(f'Na partida {p+1} fez {g} gols.')
print(f'Foi um total de {cad["total"]} gols')

Nome do jogador: Vini
Quantas partidas Vini jogou? 5
Quantos gols na partida 1: 4
Quantos gols na partida 2: 7
Quantos gols na partida 3: 2
Quantos gols na partida 4: 0
Quantos gols na partida 5: 2
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{'nome': 'Vini', 'gols': [4, 7, 2, 0, 2], 'total': 15}
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
O campo nome tem o valor Vini
O campo gols tem o valor [4, 7, 2, 0, 2]
O campo total tem o valor 15
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
O jogador Vini jogou 5 partidas.
Na partida 1 fez 4 gols.
Na partida 2 fez 7 gols.
Na partida 3 fez 2 gols.
Na partida 4 fez 0 gols.
Na partida 5 fez 2 gols.
Foi um total de 15 gols

In [ ]:
arq = list()
cad = dict()
idade = 0
mul = list()
while True:
  cad['nome'] = input('Nome: ')
  cad['sexo'] = input('Sexo [M/F]: ')
  if cad['sexo'] in 'fF':
    mul.append(cad['nome'])
  cad['idade'] = int(input('Idade: '))
  idade += cad['idade']
  arq.append(cad)
  cad = dict()
  resp = str(input('Quer continuar? [S/N]'))
  if resp in 'nN':
    break
print(f'O grupo tem {len(arq)} pessoas.')
print(f'A média de idade é de {idade/len(arq)}.')
print(f'As mulheres cadastradas foram ',end=' ')
for c in mul:
  print(c, end=' ')
print()
print('As pessoas que estão acima da média de idade são:')
for p in arq:
  if p['idade'] >= idade/len(arq):
    print(p)
print()
print(arq)
print(mul)

In [ ]:
time = list()
jog = dict()
part = list()
while True:
  jog.clear()
  jog['nome'] = str(input('Nome do jogador: '))
  tot = int(input(f'Quantas partidas {jog["nome"]} jogou? '))
  part.clear()
  for c in range(0, tot):
    part.append(int(input(f'Quantos gols na partida {c + 1}? ')))
  jog['gols'] = part[:]
  jog['total'] = sum(part)
  time.append(jog.copy())
  while True:
    resp = str(input('Quer continuar ? [S/N]')).upper()[0]
    if resp in 'SN':
      break
    print('Erro responda apenas S ou N')
  if resp == 'N':
    break
print('-=' * 30)
print('Cod  ', end='')
for i in jog.keys():
  print(f'{i:<15}', end='')
print()
print('-' * 40)
for k, v in enumerate(time):
  print(f'{k:>3}', end=' ')
  for d in v.values():
    print(f'{str(d):<15}', end='')
  print()
print('-' * 40)
while True:
  busca = int(input('Monstrar dados de qual jogador? (999 para sair)'))
  if busca == 999:
    break
  if busca >= len(time):
    print(f'Erro não existe jogador {time[busca]["nome"]}')
  else:
    print(f'Levantamento do jogador {time[busca]["nome"]}: ')
    for i, g in enumerate(time[busca]['gols']):
      print(f'No jogo {i + 1} fez {g} gols.')
      



print(time)

Nome do jogador: Vini
Quantas partidas Vini jogou? 3
Quantos gols na partida 1? 2
Quantos gols na partida 2? 3
Quantos gols na partida 3? 4
Quer continuar ? [S/N]s
Nome do jogador: gato
Quantas partidas gato jogou? 2
Quantos gols na partida 1? 2
Quantos gols na partida 2? 3
Quer continuar ? [S/N]n
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Cod  nome           gols           total
----------------------------------------
  0 Vini           [2, 3, 4]      9
  1 gato           [2, 3]         5
----------------------------------------
Monstrar dados de qual jogador? (999 para sair)999
[{'nome': 'Vini', 'gols': [2, 3, 4], 'total': 9}, {'nome': 'gato', 'gols': [2, 3], 'total': 5}]

In [ ]:
time = [{'nome': 'Vinicius', 'gols': [4, 6], 'total': 10}, {'nome': 'Gato', 'gols': [5, 2, 1], 'total': 8}]
for i in time:
  print(i)
  for v in i.keys():
    print(v)

{'nome': 'Vinicius', 'gols': [4, 6], 'total': 10}
nome
gols
total
{'nome': 'Gato', 'gols': [5, 2, 1], 'total': 8}
nome
gols
total

In [ ]:
def lin(msg):
  print('-' * 30)
  print(msg)
  print('-' * 30)

lin(2)
lin('Vinicius')

------------------------------
2
------------------------------
------------------------------
Vinicius
------------------------------

In [ ]:
def area():
  print('Controle de terrenos')
  print('-' * 30)
  a = float(input('Largura (m): '))
  b = float(input('Comprimento (m): '))
  print(f'A área de um terreno {a} x {b} é de {a * b} m2.')
  

area()
def área(lar, com):
  a = lar * com
  print(f'A área de um terreno é {lar} x {com} é de {a}m2.')


l = float(input('Largura (m): '))
c = float(input('Comprimento (m): '))
área(l, c)

Controle de terrenos
------------------------------
Largura (m): 6
Comprimento (m): 9
A área de um terreno 6.0 x 9.0 é de 54.0 m2.
Largura (m): 7
Comprimento (m): 6
A área de um terreno é 7.0 x 6.0 é de 42.0m2.

In [ ]:
def escreva(frase):
  print('-' * len(frase))
  print(frase)
  print('-' * len(frase))


f = str(input('Digite sua frase: '))
escreva(f)

Digite sua frase: vaca
----
vaca
----

In [ ]:
from time import sleep

def contador(início, fim, passo):
    for c in range(início, fim, passo):
      print(c, end=' ')
      sleep(1)
    print('FIM !')
    
contador(1, 11, 1)
contador(10, -1, -2)
início = int(input('Início: '))
fim = int(input('Fim : '))
passo = (int(input('Passo: ')))
if fim < início:
  passo *= -1
if passo == 0:
  passo +=1
contador(início, fim, passo)

In [ ]:
def maior(*num):
  maior = 0
  print('Analizando os valores passados ...')
  for i in num:
    print(f'{i}', end=' ')
    if  i > maior:
      maior = i
  print(f'Foram informados {len(num)} valores ao todo.')
  print(f'O maior valor informado foi {maior}')



maior(2, 3, 2.3, -1)

Analizando os valores passados ...
2 3 2.3 -1 Foram informados 4 valores ao todo.
O maior valor informado foi 3

In [ ]:
from random import randint
from time import sleep

lista = list()
def sorteia():
  print('Sorteando 5 valores da lista:', end=' ')
  for valor in range(0, 5):
    n = randint(0, 10)
    print(n, end=' ')
    lista.append(n)
    sleep(1)
  print('Pronto !!!')

def somap():
  soma = 0
  for v in lista:
    if v % 2 == 0:
      soma +=  v
  print(f'Somando os valores pares de {lista} temos {soma}')

sorteia()
somap()

Sorteando 5 valores da lista: 2 5 9 6 2 Pronto !!!
Somando os valores pares de [2, 5, 9, 6, 2] temos 10

In [ ]:
from datetime import date
def voto(ano):
  idade = date.today().year - ano
  if idade < 18:
    return f'Com {idade} anos. Não vota.'
  elif idade > 65:
    return f'Com {idade} anos. Voto opcional.'
  else:
    return f'Com {idade} anos. Voto obrigatório.'



ano = int(input('Em que ano você nasceu? : '))
print(voto(ano))

Em que ano você nasceu? : 2020
Com 2 anos. Não vota.

In [ ]:
def fatorial(n, show = False):
  f = 1
  for c in range(n, 0, -1):
    if show:
      print(c, end=' ')
      if c > 1:
        print(' x ', end='')
      else:
        print(' = ', end='')
    f *= c
  return f
  

print(fatorial(5, show=True))

5  x 4  x 3  x 2  x 1  = 120

In [ ]:
def ficha(nome='<desconhecido>', gol=0):
  print(f'O jogador {nome} marcou {gol} gols')



n = input('Nome do jogador: ')
g = int(input('Numero de gols: '))
if n == '':
  ficha(gol=g)
print(ficha(n, g))

Nome do jogador:
Numero de gols: 9
O jogador <desconhecido> marcou 9 gols
O jogador  marcou 9 gols
None

In [ ]:
def leiaint(msg):
  ok = False
  valor = 0
  while True:
    n = str(input(msg))
    if n.isnumeric():
      valor = int(n)
      ok = True
    else:
      print('Erro')
    if ok:
      break
  return valor





n = leiaint('Digite um número: ')
print(f'Você acabou de digitar o número {n}.')

Digite um número: n
Erro
Digite um número:
Erro
Digite um número: 7
Você acabou de digitar o número 7.

In [ ]:
def notas(*n, sit=False):
  notas = n
  ficha = dict()
  ficha['total'] = len(notas)
  ficha['maior'] = max(notas)
  ficha['menor'] = min(notas)
  ficha['média'] = sum(notas)/len(notas)
  if sit:
    if ficha['média'] >= 7:
      ficha['situação'] = 'boa'
    elif ficha['média'] >= 5:
      ficha['situação'] = 'regular'
    else:
      ficha['situação'] = 'ruim'


  return ficha
  




resp = notas(6, 1)
print(resp)

{'total': 2, 'maior': 6, 'menor': 1, 'média': 3.5}

In [ ]:
def leiaInt(msg):
  while True:
    try:
      i = int(input(msg))
    except:
      print('Erro. por favor digite um número inteiro válido.')
    else:
      return i


n = leiaInt('Digite um valor inteiro: ')
print(n)

Digite um valor inteiro: y
Erro. por favor digite um número inteiro válido.
Digite um valor inteiro: 7
7

In [ ]:
nome ='Vinicius'
print(f'{nome:+^100}')
for l in nome:
  print(l)

++++++++++++++++++++++++++++++++++++++++++++++Vinicius++++++++++++++++++++++++++++++++++++++++++++++
V
i
n
i
c
i
u
s

In [ ]:
nome = 'vinicius'
c = 0
n = str()
while c < len(nome):
  n += nome[c]
  print(n)
  c += 1

v
vi
vin
vini
vinic
vinici
viniciu
vinicius

In [ ]:
nome = 'vinicius'
nm = str()
for letra in nome:
  nm += letra
  print(nm)

In [ ]:
def ret (var):
  r = var
  return r

ret ('oi')

'oi'

In [ ]:
conj = {1, 1, 2, 5, 7, 9, 'texto'}
p='texto'
print(conj)
hash(p)
b = set('12345')
print(b)
len(b)
L = [1, 1, 2, 3,5, 6,7]
C = set(L)
print(L, C)
L = set(L)
L

{1, 2, 'texto', 5, 7, 9}
{'1', '3', '5', '2', '4'}
[1, 1, 2, 3, 5, 6, 7] {1, 2, 3, 5, 6, 7}

{1, 2, 3, 5, 6, 7}

In [ ]:
a = set(range(1, 31))
b = set(range(0, 41)) - a
c = a & b
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}
{0, 33, 32, 34, 35, 36, 37, 38, 39, 40, 31}
set()

In [ ]:
var = 'teste' # global
id(var)

def func():
  var = 'outro teste' # local
  return id(var), var

print(func())
print(id(var), var)

(139720734880304, 'outro teste')
139720740759920 teste

In [ ]:
var = 'teste' # global
id(var)

def func():
  global var
  var = 'outro teste' # local
  return id(var), var

print(func())
print(id(var), var)

(139720734836400, 'outro teste')
139720734836400 outro teste

In [ ]:
d = {}
d['a'] = 1
d['b'] = 2
d
for i, v in d.items():
  print(i, v)

a 1
b 2

In [ ]:
t = ('a', 'b', 'c', 'd')
d = {}
d = dict.fromkeys(t, 1)
d.keys()
d.values()
d.items()

dict_items([('a', 1), ('b', 1), ('c', 1), ('d', 1)])

In [ ]:
perguntas = {'Pergunta 1':{'pergunta': 'Quanto é 1 + 1',
                           'respostas': {'a': '1', 'b': '2', 'c': '3'}, 
                           'resp_certa': 'b'
                           }
             }
print()
respostas_certas = 0
for pk, pv in perguntas.items():
  print(pk, pv['pergunta'])
  for rk, rv in pv['respostas'].items():
    print(rk, rv)

Pergunta 1 Quanto é 1 + 1
a 1
b 2
c 3

In [ ]:
G = 'Grava nada'
arq = open('exemp.txt','w')
arq.write(G)
arq.close()
arq = open('exemp.txt', 'r')
L = arq.readline()
arq.close()
print(f'String lido = {L}')

String lido = Grava nada

In [ ]:
print('Início do programa')
arqreais = open('ValsReais.txt', 'w')
x = float(input('Digite um número real: '))
while x != 0:
  arqreais.write(f'{x:.3f}\n')
  x = float(input('Digite um número real: '))
arqreais.close()
arqreais = open('ValsReais.txt', 'r')
l = arqreais.readlines()
arqreais.close()
print(l)
print('Fim do programa')

Início do programa
Digite um número real: 9
Digite um número real: 6
Digite um número real: 3
Digite um número real: 0
['9.000\n', '6.000\n', '3.000\n']
Fim do programa

In [ ]:
inteiros = open('inteiros.txt', 'w')
x = int(input('Digite um número inteiro: '))
while x != 0:
  inteiros.write(f'{x}\n')
  x = int(input('Digite um número inteiro: '))
inteiros.close()

print('Início do programa')
soma = 0
cont = 0
arq = open('inteiros.txt')
s = arq.readline()
while s != '':
  n = int(s)
  soma = soma + n 
  cont += 1
  print(f'Elemento {cont} = {n}')
  s = arq.readline()
arq.close()
print(f'Soma = {soma}')
print('Fim do programa')

Digite um número inteiro: 7
Digite um número inteiro: 9
Digite um número inteiro: 5
Digite um número inteiro: 0
Início do programa
Elemento 1 = 7
Elemento 2 = 9
Elemento 3 = 5
Soma = 21
Fim do programa

In [ ]:
print('Início do programa')
soma = 0
cont = 0
for s in open('inteiros.txt'):
  n = int(s)
  soma += n 
  cont += 1
  print(f'Elemento {cont} = {n}')
print(f'Soma = {soma}')
print('Fim do programa')

Início do programa
Elemento 1 = 7
Elemento 2 = 9
Elemento 3 = 4
Elemento 4 = 3
Soma = 23
Fim do programa

In [ ]:
for s in open('teste.txt'):
  print(s)

abacate tomate

abobora

pera

mel

In [ ]:
print('Lista de compras')
TotGeral = 0
for s in open('dados.txt'):
  s = s.rstrip()
  l = s.split(',')
  l[1], l[2] = int(l[1]), float(l[2])
  TotProd = l[1] * l[2]
  TotGeral += TotProd
  print(f'{l[0]:>12}: {l[1]:3} x {l[2]:6.2f} = {TotProd:7.2f} ')
print('-' * 38)
print(f'Total da lista de compras {TotGeral:>10}')

Lista de compras
       Leite:  12 x   3.80 =   45.60
        Maçã: 100 x   4.40 =  440.00
        Café:   9 x  16.35 =  147.15
Pão de Forma:  41 x   5.90 =  241.90
--------------------------------------
Total da lista de compras     874.65

In [ ]:
lista = list(range(100))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
import sys
print(sys.platform)

linux

In [1]:
import sqlite3

conector = sqlite3.connect('academia.db')
cursor = conector.cursor()

sql = ''' create table cadastro 
          (codigo interger, nome text, idade interger)
      '''

cursor.execute(sql)

sql = """ insert into cadastro (codigo, nome, idade) values (1284, 'Pedro de Oliveira', 32)"""
cursor.execute(sql)

sql = """ insert into cadastro (codigo, nome, idade) values (1309, 'Maria Lucia Machado', 37)"""
cursor.execute(sql)

conector.commit()
cursor.close()

In [ ]:
class MinhaClasse:

  def meu_metodo(self):
    print('Estou no método')
  
  def meu_metodo2(self, num, mult):
    return num * mult

objeto = MinhaClasse()

objeto.meu_metodo()

resultado = objeto.meu_metodo2(2, 3)
print(resultado)

Estou no método
6

In [8]:
import sqlite3

conector = sqlite3.connect('academia.db')
cursor = conector.cursor()
sql = 'select * from cadastro'
cursor.execute(sql)
dados = cursor.fetchall()
cursor.close()
conector.close()

print("\nConsulta ao Banco de Dados 'academia.db' \n") 
print("Dados da tabela 'cadastro'")
print("-" * 35)
print('{:7} {:20} {:>6}'.format("Código", "Nome", "Idade")) 
print("-" * 18)
for d in dados:
  print("{:<7} {:20} {:>6}".format(d[0], d[1], d[2]))
print("-" * 35)
print("Encontrados {} registros".format(len(dados)))
print("\n\nFim do programa")

Consulta ao Banco de Dados 'academia.db'

Dados da tabela 'cadastro'
-----------------------------------
Código  Nome                  Idade
------------------
1284    Pedro de Oliveira        32
1309    Maria Lucia Machado      37
-----------------------------------
Encontrados 2 registros


Fim do programa