<a href="https://colab.research.google.com/github/vncspelegrini/execiciosPython/blob/main/Exerc%C3%ADcios_Livro_Introdu%C3%A7%C3%A3o_a_Computa%C3%A7%C3%A3o_Usando_Python_Um_foco_no_Desenvolvimento_de_Aplica%C3%A7%C3%B5es_Ljubomir_Perkovic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
""" Problema prático 2.1

Escreva expressões algébricas Python correspondentes aos seguintes comandos:

(a)A soma dos 5 primeiros inteiros positivos.

(b)A idade média de Sara (idade 23), Mark (idade 19) e Fátima (idade 31).

(c)O número de vezes que 73 cabe em 403.

(d)O resto de quando 403 é dividido por 73.

(e)2 à 10a potência.

(f)O valor absoluto da distância entre a altura de Sara (54 polegadas) e a altura de Mark (57 polegadas).

(g)O menor preço entre os seguintes preços: R$ 34,99, R$ 29,95 e R$ 31,50."""

print(1+2+3+4+5)

print((23 + 19 + 31) / 3)

print(403 // 73)

print(403 % 73)

print(2**10)

print(abs(54 - 57))

print(min(34.99, 29.95, 31.50))

15
24.333333333333332
5
38
1024
3
29.95

In [9]:
"""Problema Prático 2.2

Traduza os comandos a seguir para expressões Booleanas em Python e avalie-as:

(a)A soma de 2 e 2 é menor que 4.

(b)O valor de 7 // 3 é igual a 1 + 1.

(c)A soma de 3 ao quadrado e 4 ao quadrado é igual a 25.

(d)A soma de 2, 4 e 6 é maior que 12.

(e)1387 é divisível por 19.

(f)31 é par. (Dica: o que o resto lhe diz quando você divide por 2?)

(g)O preço mais baixo dentre R$ 34,99, R$ 29,95 e R$ 31,50 é menor que R$ 30,00.*"""

print(2 + 2 < 4)

print(7 // 3 == 1 + 1)

print(3**4 + 4**2 == 25)

print(2 + 4 + 6 > 12)

print(1387 % 19 == 0)

print(31 % 2 == 0)

print(min(34.99, 29.95, 31.50) < 30.00)

False
True
False
False
True
False
True

In [10]:
"""Problema Prático 2.3

Escreva instruções Python que correspondem às ações a seguir e execute-as:

(a)Atribua o valor inteiro 3 à variável a.

(b)Atribua 4 à variável b.

(c)Atribua à variável c o valor da expressão a * a + b * b."""

a = 3
b = 4
c = a * a + b * b
print(c)

25

In [20]:
"""Problema Prático 2.4

Comece executando as instruções de atribuição:

>>> s1 = 'ant'

>>> s2 = 'bat'

>>> s3 = 'cod'

Escreva expressões Python usando s1, s2 e s3 e os operadores + e * a fim de avaliar para:

(a)'ant bat cod'

(b)'ant ant ant ant ant ant ant ant ant ant'

(c)'ant bat bat cod cod cod'

(d)'ant bat ant bat ant bat ant bat ant bat ant bat ant bat'

(e)'batbatcod batbatcod batbatcod batbatcod batbatcod'"""

s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

print(s1 + ' ' + s2 + ' ' + s3)

print(10 *(s1 + ' '))

print(s1 + ' ' + 2 * (s2 + ' ') + 3 * (s3 + ' '))

print( 7 * (s1 + ' ' + s2 + ' '))

print(5 * (2 * s2 + s3 + ' '))

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

In [22]:
"""Problema Prático 2.5

Comece executando a atribuição:

s = '0123456789'

Agora, escreva expressões usando a string s e o operador de indexação que é avaliado como:

(a)'0'

(b)'1'

(c)'6'

(d)'8'

(e)'9'"""

s = '0123456789'

print(s[0])

print(s[1])

print(s[6])

print(s[8])

print(s[9])

0
1
6
8
9

In [26]:
"""Problema Prático 2.6

Primeiro, execute a atribuição

palavras = ['taco', 'bola', 'celeiro', 'cesta', 'peteca']

Agora, escreva duas expressões Python que são avaliadas, respectivamente,
como a primeiro e a última palavras em palavras, na ordem do dicionário."""

palavras = ['taco', 'bola', 'celeiro', 'cesta', 'peteca']

print(min(palavras))

print(max(palavras))

bola
taco

In [33]:
"""Problema Prático 2.7

Dada a lista de notas de trabalho de casa dos alunos

>>> notas = [9, 7, 7, 10, 3, 9, 6, 6, 2]

escreva:

(a)Uma expressão que avalia para o número de 7 notas.

(b)Uma instrução que muda a última nota para 4.

(c)Uma expressão que avalia para a nota mais alta.

(d)Uma instrução que classifica as notas da lista.

(e)Uma expressão que avalia para a média das notas."""

notas = [9, 7, 7, 10, 3, 9, 6, 6, 2]

print(notas[0:7])

notas[-1] = 4
print(notas)

print(max(notas))

notas.sort()
print(notas)

print(sum(notas) / len(notas) )

[9, 7, 7, 10, 3, 9, 6]
[9, 7, 7, 10, 3, 9, 6, 6, 4]
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

In [ ]:
'''Problema Prático 2.8

Em que ordem os operadores nas expressões a seguir são avaliados?

(a)2 + 3 == 4 or a >= 5

+

== ,  >= 

or

(b)lst[1] * -3 < -10 == 0

*

<, ==

(c)(lst[1] * -3 < -10) in [0, True]

()

in

(d)2 * 3**2

**
*

(e)4 / 2 in [1, 2, 3]

/
in '''

In [ ]:
"""Problema Prático 2.9

Qual é o tipo do objeto ao qual essas expressões são avaliadas?

(a)False + False
int

(b)2 * 3**2.0
float

(c)4 // 2 + 4 % 2
int

(d)2 + 3 == 4 or 5 >= 5
bool"""